
   <section class="booking-section">
            <div class="outer-container clearfix">
                <div class="single-column">
                    <div class="content_block_5">
                        <div class="content-box" style="background-image: url(assets/assetspenguins/images/resource/column-bg.jpg);">
                            <div class="shape" style="background-image: url(assets/assetspenguins/images/shape/shape-6.png);"></div>
                            <h2>Committed <br />to Cleaning and <br />Excellence</h2>
                            <ul class="list-item clearfix">
                                <li>Hassle-free</li>
                                <li>Friendly & Honest</li>
                                <li>Reliable & Trustworthy</li>
                                <li>Dependable</li>
                                <li>Insured & bonded</li>
                            </ul>
                            <div class="support-box">
                                <h6><i class="flaticon-telephone"></i>Call Now Speak With an Expert <a href="tel:4412345678">+1 (905) 965-4542</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-column" >
                    <div class="content_block_6">
                      <div class="content-box">
                            <div class="bg-layer" style="background-image: url(assets/assetspenguins/images/shape/shape-4.png);"></div>
                            <div class="sec-title text-left">
                                <h6>Cost Calculator</h6>
                                <h2>Get a Free Estimation</h2>
                            </div>
                            <form  [formGroup]="ngFormAddOrder" (ngSubmit) ="okOrder()"  class="estimate-form">
                                <div class="inner-box">
                                    <div class="form-group">
                                        <input type="text" name="text" placeholder="Your Name" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" placeholder="Phone" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="address" placeholder="Location (Full Address)" required="">
                                    </div>
                                     <div class="dropdown">
                                        <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                            {{this.serviceSelected}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="setType('Houses')"  style="cursor: pointer !important;">Houses</a>
                                            <a class="dropdown-item" (click)="setType('Hotel, Motel, Chalets, Airbnb.')"  style="cursor: pointer !important;">Hotel, Motel, Chalets, Airbnb.</a>  
                                            <a class="dropdown-item" (click)="setType('Commercial offices: Government, Bank, Medical, Others.')"  style="cursor: pointer !important;">Commercial offices: Government, Bank, Medical, Others.</a>  
                                            <a class="dropdown-item" (click)="setType('Events, Before event, After event.')"  style="cursor: pointer !important;">Events, Before event, After event.</a>  
                                            <a class="dropdown-item" (click)="setType('Gym, Post-construction, Daycares, Restaurant and bar.')"  style="cursor: pointer !important;">Gym, Post-construction, Daycares, Restaurant and bar.</a>  
                                            <a class="dropdown-item" (click)="setType('Commercial spaces cleaning.')"  style="cursor: pointer !important;">Commercial spaces cleaning.</a>  
                                            <a class="dropdown-item" (click)="setType('Health and medic centers.')"  style="cursor: pointer !important;">Health and medic centers.</a>  
                                        </div>
                                    </div>
                                    <div class="dropdown" [hidden]="!houseSelected">
                                        <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                            {{this.houseSize}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="setSize('Basic')"  style="cursor: pointer !important;">Basic</a>
                                            <a class="dropdown-item" (click)="setSize('Medium')"  style="cursor: pointer !important;">Medium</a>  
                                            <a class="dropdown-item" (click)="setSize('Premium')"  style="cursor: pointer !important;">Premium</a>  
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                                {{this.daysPerMonth}}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" *ngFor="let item of days" (click)="setDays(item)"  style="cursor: pointer !important;">{{item}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                                {{this.hoursPerDay}} 
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" *ngFor="let item of hours" (click)="setHours(item)"  style="cursor: pointer !important;">{{item}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-btn">
                                        <button type="submit">Get a quote</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>







