        <!-- booking-section -->
        <section class="booking-section">
            <div class="outer-container clearfix">
                <div class="single-column">
                    <div class="content_block_5">
                        <div class="content-box" style="background-image: url(assets/assetspenguins/images/resource/column-bg.jpg);">
                            <div class="shape" style="background-image: url(assets/assetspenguins/images/shape/shape-6.png);"></div>
                            <h2>Committed <br />to Cleaning and <br />Excellence</h2>
                            <ul class="list-item clearfix">
                                <li>Hassle-free</li>
                                <li>Friendly & Honest</li>
                                <li>Reliable & Trustworthy</li>
                                <li>Dependable</li>
                                <li>Insured & bonded</li>
                            </ul>
                            <div class="support-box">
                                <h6><i class="flaticon-telephone"></i>Call Now Speak With an Expert <a href="tel:4412345678">+1 (905) 965-4542</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-column">
                    <div class="content_block_6">
                        <div class="content-box">
                            <div class="bg-layer" style="background-image: url(assets/assetspenguins/images/shape/shape-4.png);">                                
                            </div>
                            <div class="sec-title text-left">
                                <h6>Cost Calculator</h6>
                                <h2>$USD <b>{{_uw.total}}</b> (Estimation)</h2>
                            </div>
                            <form action="index.html" method="post" class="estimate-form">
                                <div class="inner-box">
                                    <div class="form-group">
                                        <input type="text" name="text" placeholder="Your Name" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" placeholder="Phone" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="address" placeholder="Location (Full Address)" required="">
                                    </div>
                                    <div class="form-group">
                                        <select class="wide">
                                           <option data-display="Hotel Cleaning" (click)="setTupe(1)">Hotel, Motel, Chalets, Airbnb.</option>
                                           <option value="1">Commercial offices: Government, Bank, Medical, Others.</option>
                                           <option value="2">Events, Before event, After event.</option>
                                           <option value="3">Gym, Post-construction, Daycares, Restaurant and bar.</option>
                                           <option value="4">Commercial spaces cleaning</option>
                                           <option value="4">Health and medic centers</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="wide">
                                           <option data-display="Number of days per month">Number of days per month?</option>
                                           <option value="1">1 - 30</option>
                                           
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="wide">
                                           <option data-display="How many hours per day">How many hours per day?</option>
                                           <option value="1">1 - 24 </option>
                                           
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="wide">
                                           <option data-display="Number of cleaners">number of cleaners?</option>
                                           <option value="1">1 - 5</option>
                                           
                                        </select>
                                    </div>                                   
                                    <div class="message-btn">
                                        <button type="submit">Get a quote</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>               
            </div>
            <!-- <br> -->
        </section>
        <!-- booking-section end -->